Webhook_Trigger_for_SEPS_with_RAG_context.json
{
  "name": "Webhook Trigger for SEPS with RAG context",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee8c520f-523b-43d0-a3bb-a30cf6e62f96",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -80
      ],
      "id": "8ca691ee-e5b6-4388-8177-888495af2715",
      "name": "Webhook",
      "webhookId": "ee8c520f-523b-43d0-a3bb-a30cf6e62f96"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "8c6291dc-b235-4551-9492-1d4646d395a2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        224
      ],
      "id": "1c2324d3-74a2-4da2-8352-3af2e11c97a1",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "qdrant_database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        592,
        416
      ],
      "id": "f370b9e2-860b-487f-997f-1196304014e5",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "UwyOUdkzbysBxVdP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        688,
        624
      ],
      "id": "5f826402-a4a2-400b-bff9-501c8017e786",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "71bcb7e0-834c-4520-9497-5c014b09e530",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "7e14e072-47aa-4c7d-b36b-73059b7ee3ec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemPromptTemplate": "you are assistant just answer based on the context provided with only YES or NO you can't answer anything between these two\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        64,
        -176
      ],
      "id": "abb2f2c8-b125-4591-859b-68e3ff4db34a",
      "name": "YES and NO answers only"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        208,
        -16
      ],
      "id": "90a4d032-3cea-40b6-8fea-f13c8dddfda2",
      "name": "Question and Answer"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "YES and NO answers only",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer",
            "type": "ai_retriever",
            "index": 0
          },
          {
            "node": "YES and NO answers only",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YES and NO answers only": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "526911c6-58e4-4bd2-8cde-b9aa36915c05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2174e2d55806427b51510b2f03115728b8f0b915411358d16527f2bde5fdbfb"
  },
  "id": "fIgBr0DB6TWE6qAIYo5yn",
  "tags": []
}