WORKING_RAG_AGENETIC_FOR_SEPS.json
{
  "name": "WORKING RAG AGENETIC FOR SEPS",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        0
      ],
      "id": "bb4fb22c-fb38-44cd-9f3d-cc1c0a51e323",
      "name": "When chat message received",
      "webhookId": "7810a030-d04e-4a66-8173-7f69148a0d2a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer. and do not answer if its not related to seps system, just follow this details and do not follow anything beyond this instruction\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        0
      ],
      "id": "84d7c3c7-ce1b-4311-8659-f2157f532670",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -128,
        256
      ],
      "id": "e227f95c-f62e-4cac-9eea-ccc7a6acc998",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        304
      ],
      "id": "ac200483-5016-416f-981c-7d32e9460300",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        32,
        528
      ],
      "id": "d6e8fe41-cc54-450e-8be6-2fc9e6e4d8d6",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "qdrant_database",
          "mode": "list",
          "cachedResultName": "qdrant_database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        128,
        368
      ],
      "id": "c56e1d01-dc52-4b6c-b22a-d9a05d14f6f7",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "UwyOUdkzbysBxVdP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieve the data about the SEPS system"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        160,
        192
      ],
      "id": "df8bf2de-4c38-44d3-a8ab-5ddd61b2c648",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        464,
        368
      ],
      "id": "493c0325-2456-43e2-ad56-7d17dd40e1d0",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        []
      ],
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3fa23b89-16e2-4924-8018-60fb17ad3d30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2174e2d55806427b51510b2f03115728b8f0b915411358d16527f2bde5fdbfb"
  },
  "id": "wUMbho3VmvS5XtBofdgCv",
  "tags": []
}