MIT-003 - technology and project management/Chat_SEPS_using_RAG_context.json
{
  "name": "Chat SEPS using RAG context",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nI am SEPS assistant, ask me anything you know about SEPS so i can help",
        "options": {
          "allowFileUploads": false,
          "loadPreviousSession": "notSupported",
          "subtitle": "",
          "title": "🤖 SEPS Assistant 🤖 "
        }
      },
      "id": "9e663c82-899c-4365-81e2-5da7e4fa0986",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -848,
        -96
      ],
      "webhookId": "ebdeba3f-6b4f-49f3-ba0a-8253dd226161",
      "typeVersion": 1.1,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "id": "30607d4b-b9ca-424b-aba9-8601b5903c95",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "position": [
        96,
        192
      ],
      "typeVersion": 1,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        352,
        432
      ],
      "id": "70727b46-e7cc-4934-b6b4-31afd0ef945a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer. and do not answer if its not related to seps system, just follow this details and do not follow anything beyond this instruction\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        224,
        -80
      ],
      "id": "dbb1d928-55ca-45f5-afc8-71165f339be7",
      "name": "Question and Answer Chain",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        240,
        96
      ],
      "id": "baafc847-c4c0-4548-9e5d-2c7cd491955c",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "fieldToSplitOut": "response",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        544,
        -80
      ],
      "id": "f11a0b96-dcd4-426b-a3bc-cd7d8cc48188",
      "name": "Split Out"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "qdrant_database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        240,
        256
      ],
      "id": "dc0be851-a9b9-4e51-9e74-ea6dfcab3f33",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "UwyOUdkzbysBxVdP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "ai",
              "message": "={{ $json.response }}"
            },
            {
              "type": "user",
              "message": "={{ $json.chatInput }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        784,
        -208
      ],
      "id": "323704c0-ec8f-495f-b055-9bf620ee5801",
      "name": "Chat Memory Manager1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3827e8ae-725b-4360-8859-ce45e2e29a34",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "={{ $json.messages.map(item => item.human).filter(item => item === $json.chatInput).first() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -208
      ],
      "id": "2fb7f5a8-e848-4d03-a377-b78316e60484",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        -208
      ],
      "id": "2b72e197-29b1-47bc-856e-c6404751dd69",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -528,
        -32
      ],
      "id": "e2575a0f-b3d0-4228-9e74-68a173e3ec8e",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -208
      ],
      "id": "631d603e-2cdb-4c4f-8302-c92dd1a8ec7d",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        112,
        432
      ],
      "id": "6d1340b9-d44d-4998-9e0d-3d43b251bb49",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "QDQnKikdYoRhZrTe",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "930ae138-14e3-44c3-8501-91974c4600ca",
              "name": "messages",
              "value": "={{ $json.messages.filter(item => item.human === $json.chatInput).first().ai }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -352
      ],
      "id": "3061c143-d4ca-4e97-b015-270645a342ab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -336
      ],
      "id": "09736c5a-3f8a-4958-9b64-c2785d095fb8",
      "name": "Split Out1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0fd21b4-2f5b-41d8-8463-4603af52d29b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2174e2d55806427b51510b2f03115728b8f0b915411358d16527f2bde5fdbfb"
  },
  "id": "UjxyOv-QWc10qbACBdXAd",
  "tags": []
}