MIT-003 - technology and project management/RAG_ingest_for_listening_on_Google_Drive.json
{
  "name": "RAG ingest for listening on Google Drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1z8s_RRAeXAmq8Wc_2d4EBLQeSVRlpixV",
          "mode": "list",
          "cachedResultName": "RAG Source for SEPS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1z8s_RRAeXAmq8Wc_2d4EBLQeSVRlpixV"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        224
      ],
      "id": "655d17ce-5668-4e17-b8c5-d39c3580e465",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "201sImZzY86POmSm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        224
      ],
      "id": "9f258d88-a111-4f1e-b488-7f7a2351354c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "201sImZzY86POmSm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        0,
        256
      ],
      "id": "d7167f03-1f3d-4497-9ba7-a185300bfa76",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "ZqfMA89c8vCe6O3t",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "qdrant_database",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -192,
        -48
      ],
      "id": "b2781d8c-5b45-4eae-aac5-e5883d0448b1",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "UwyOUdkzbysBxVdP",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        208,
        256
      ],
      "id": "3e3ab00b-0ec4-4096-8288-8802d8c6d1d0",
      "name": "Default Data Loader2"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "93ccb60e-84b6-4355-82b6-19ababa5e23b",
  "meta": {
    "instanceId": "a2174e2d55806427b51510b2f03115728b8f0b915411358d16527f2bde5fdbfb"
  },
  "id": "H8gFk8dPPN_ubkYZAEmha",
  "tags": []
}